<div class="content-comment mb-20" id="parent_comment_<%= comment.id %>" data-controller="comment">
  <div class="div-content">
    <div class="lh-1">
      <%= image_tag comment.account.avatar %>
    </div>
    <div class="ml-8 lh-1 f-1 bg-comment">
      <div class="lh-1 mb-3">
        <strong class="name-admin"><%= comment.account.full_name %>
          <% if comment.account.admin? %>
            <span><i data-feather="gitlab"></i></span>
          <% end %>
        </strong>
        <span class="time">- <%= comment.created_at.strftime(Settings.time.formats) %></span>
      </div>
      <span class="text-gray-90"><%= comment.content %></span>
    </div>
  </div>

  <% if account_signed_in? %>
    <div class="lh-1 mb-4 pl-5 color-green pt-4">
      <span class="reply reply_comment_<%= comment.id %>" data-action="click->comment#openModalReply"><b>Phản hồi</b></span>
      <% if comment.account.id == current_account.id || current_account.admin? %>
        <span class="action-delete pl-2" data-action="click->comment#openModal" data-post-id=<%= comment.post.id %> data-comment-id="<%= comment.id %>"><b>Gỡ</b></span>
      <% end %>
    </div>
  <% end %>
</div>
