<div class="sidebar">
  <div class="sidebar__logo">
    <a href="<%= admin_root_path %>">
      <img src="<%= asset_path("logo.svg") %>" alt="">
    </a>
  </div>
  <div class="sidebar__menu">
    <ul>
      <li class="<%= active_sidebar(admin_posts_path, 'posts') %>">
        <a class="" href="<%= admin_posts_path %>">
          <img src="<%= asset_path("icon/product.svg") %>" alt="icon-product">
          <span>Bài viết</span>
        </a>
      </li>
      <li class="<%= active_sidebar(admin_categories_path, 'categories') %>">
        <a class="" href="<%= admin_categories_path %>">
          <img src="<%= asset_path("icon/category.svg") %>" alt="icon-category">
          <span>Danh mục</span>
        </a>
      </li>
      <li class="">
        <a class="" href="">
          <img src="<%= asset_path("icon/tag.svg") %>" alt="icon-tag">
          <span>Tags</span>
        </a>
      </li>
      <li class="">
        <a class="" href="">
          <img src="<%= asset_path("icon/detail.svg") %>" alt="icon-report">
          <span>Báo cáo</span>
        </a>
      </li>
      <li class="">
        <a class="" href="">
          <img src="<%= asset_path("icon/comment.svg") %>" alt="icon-comment">
          <span>Bình luận</span>
        </a>
      </li>
      <li class="">
        <a class="" href="">
          <img src="<%= asset_path("icon/user.svg") %>" alt="icon-user">
          <span>Tài khoản</span>
        </a>
      </li>
      <li class="">
        <a class="" href="">
          <img src="<%= asset_path("icon/activity.svg") %>" alt="icon-activity">
          <span>Lượng truy cập</span>
        </a>
      </li>
      <li class="">
        <a class="" href="">
          <img src="<%= asset_path("icon/settings.svg") %>" alt="icon-settings">
          <span>Cài đặt</span>
        </a>
      </li>
    </ul>
  </div>
</div>
