<%= simple_form_for [:admin, @post], url: @post.persisted? ? admin_post_path(slug: @post.slug) : admin_posts_path, html: { class: "block-create__form", data: { turbo: false } } do |f| %>
  <div class="fields">
    <div class="fields__left">
      <div class="fields-top">
        <div class="field">
          <label for="title" class="form-label">Tiêu đề</label>
          <%= f.input :title, as: :string,
            input_html: {
              value: f.object.title, id: "title",
              autocomplete: "off",
              placeholder: "e.g. Tiêu đề bài viết" }, label: false %>
        </div>

        <div class="field">
          <label for="description" class="form-label">Mô tả</label>
          <%= f.input :description, as: :text,
            input_html: {
              value: f.object.description, id: "description",
              autocomplete: "off", class: "custom",
              placeholder: "e.g. Mô tả bài viết",
              rows: 4 }, label: false %>
        </div>

        <div class="field" data-controller="upload">
          <label for="feature-image" class="form-label">Ảnh bìa</label>
          <div class="field__image"
            <% if f.object.cover_image.present? %>
              style='background-image: url("<%= ENV['S3_URL_PREFIX'] %><%= f.object.cover_image.key %>"); background-size:100% 100%'
            <% end %>
          >
            <% if f.object&.cover_image&.id.present? %>
              <div class="remove-img" data-href="<%= delete_image_attachment_admin_post_path(f.object.cover_image.id) %>" data-action="click->upload#handleRemoveFileAjax">
                <span><img src="<%= asset_path("icon/remove.svg") %>" alt="icon-remove"></span>
              </div>
            <% else %>
              <div class="remove-img d-none" data-action="click->upload#handleRemoveFile">
                <span><img src="<%= asset_path("icon/remove.svg") %>" alt="icon-remove"></span>
              </div>
            <% end %>

            <div class="block-add-img <%= 'd-none' if f.object.cover_image.present? %>">
              <img src="<%= asset_path("icon/upload.svg") %>" alt="icon-upload">
              <p class="image-title">
                <span>Tải lên</span>
              </p>
              <p class="image-intro">hoặc kéo thả để tải lên</p>
              <%= f.input :cover_image, as: :file, input_html: { id: "feature-image", title: "", accept: ".png,.jpg,.jpeg",
                data: { action: "dragover->upload#handleDragOver drop->upload#handleFileSelect change->upload#handleLoadFile"} }, label: false %>
            </div>
          </div>
        </div>

        <div class="field">
          <label for="content" class="form-label">Nội dung</label>
          <%= f.input :content, as: :ckeditor,
            input_html: {
              value: f.object.content, id: "content",
              autocomplete: "off",
              placeholder: "e.g. nội dung bài viết",
              rows: 4 }, label: false %>
        </div>
      </div>

      <div class="fields-seo" data-controller="post">
        <div class="title">
          <h3>SEO website</h3>
          <p>
            thêm tiều đề hoặc mô tả bài viết để google nhận diện bài viết tốt hơn
          </p>
        </div>

        <div class="field">
          <label for="seo-title" class="form-label">Tiêu đề</label>
          <%= f.input :seo_title, as: :string,
            input_html: {
              value: f.object.seo_title, id: "seo-title",
              autocomplete: "off" }, label: false %>
        </div>

        <div class="field">
          <label for="seo-description" class="form-label">Mô tả</label>
          <%= f.input :seo_description, as: :text,
            input_html: {
              value: f.object.seo_description, id: "seo-description",
              autocomplete: "off", class: "custom",
              rows: 4 }, label: false %>
        </div>

        <div class="field position">
          <label for="seo-url" class="form-label">URL and handle</label>
          <%= f.input :slug, as: :string,
            input_html: {
              value: f.object.slug, id: "seo-url",
              autocomplete: "off", placeholder: "e.g. example-post-url-123" }, label: false %>
          <span data-action="click->post#changeSlug" class="get-slug" >Tạo slug</span>
        </div>
      </div>
    </div>

    <div class="fields__right">
      <div class="fields-top" data-controller="published">
        <div class="field relative">
          <label for="visibility" class="form-label font-600">Hiển thị</label>
          <%= f.input :status, label: false,
            collection: [ ['2', 'Hiển thị' ], ['1', 'Ẩn'] ], id: "visibility",
            as: :radio_buttons, label_method: :last,
            value_method: :first, checked: f.object.visible? ? 2 : 1 %>
          <% if f.object.published_at && f.object.hidden? %>
            <span class="info-visible">(Hiển thị lúc <%= f.object.published_at.strftime(Settings.published_at.formats) %>)</span>
          <% end %>
        </div>

        <div class="set-time <%= 'd-none' if f.object.published_at ||  f.object.visible? %>">
          <span data-action="click->published#showInputTime">Cài đặt hiển thị</span>
        </div>

        <div class="field <%= 'd-none' if !f.object.published_at || f.object.visible? %>" id="published_time">
          <label for="published_at" class="form-label">Thời gian mong muốn hiển thị lúc:</label>
          <%= f.input :published_at, as: :string,
            input_html: {
              value: f.object.published_at, id: "published_at", class: "flatpick",
              autocomplete: "off", data: { action: "change->published#changeTime" } }, label: false %>
          <div class="clear-time <%= 'd-none' unless f.object.published_at %>">
            <span data-action="click->published#clearInputTime">Hủy cài đặt</span>
          </div>
        </div>
      </div>

      <div class="fields-seo">
        <div class="field">
          <label for="category" class="form-label font-600">Category</label>
          <div>
            <%= f.collection_select :category_id, Category.all, :id, :title, {}, class: "select2",
              style: "width:100%" %>
          </div>
        </div>

         <div class="field">
          <label for="tags" class="form-label font-600">Tags</label>
          <%#= f.collection_select :tags, Tag.all, :id, :name, {}, class: "select2-tag", multiple: true %>
        </div>

         <div class="field">
          <label for="read-time" class="form-label font-600">Thời gian đọc dự tính</label>
          <%= f.input :readtime, as: :string,
            input_html: {
              value: f.object.readtime, id: "read-time",
              autocomplete: "off",
              placeholder: "e.g. 8 phút" }, label: false %>
        </div>
      </div>
    </div>
  </div>

  <div class="btns-control">
    <%= link_to admin_posts_path, class: "none-decoration" do %>
      <button class="btns-control__cancel" type="button">Hủy</button>
    <% end %>
    <%= f.submit 'Lưu', class: "btns-control__save"%>
  </div>
<% end %>
